*{
    box-sizing: border-box;
}

body{
    background-color: #cad5e2;
}
.container{
    border-radius: 6px;
    padding-bottom: 90px;
    
}

.descript{
    text-align: center;
    color: #5a4bda;
    margin-bottom: 100px;
}
.descript h1{
    color: #5a4bda;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.descript p{
    font-size: small;
    color: rgb(95, 93, 93);
}
.subcontent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: flex-start;
    width: 70%;
    margin: auto;
    
}
.subcontent h3{
    color: #5a4bda;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.subcontent .free{
    color: black;
    font-weight: 600;
    font-size: medium;
}
.subcontent h5{
    color: rgb(63, 63, 63);
    font-weight: 100;
}


.sub {
    background-color: #fff;
    width: 330px;
    padding: 15px 15px;
    padding-bottom: 0px;
    border-radius: 8px;
    
}

img{
    width: 300px;
}
